<html>
    <head>
        <title>Block</title>

        <script src="https://unpkg.com/blockly/blockly.min.js"></script>
    </head>

    <div>
        <div id="blocklyDiv" style="height: 480px; width: 600px;"></div>
    </div>

    <script>
        var toolbox = {
            "kind": "categoryToolbox",
            "contents": [
                {
                    "kind": "category",
                    "name": "Control",
                    "contents": [
                        {
                            "kind": "block",
                            "type": "controls_if"
                        },
                        {
                            "kind": "block",
                            "type": "controls_ifelse"
                        }
                    ]
                    },
                {
                "kind": "category",
                "name": "Logic",
                "contents": [
                        {
                        "kind": "block",
                        "type": "logic_compare"
                        },
                        {
                        "kind": "block",
                        "type": "logic_operation"
                        },
                        {
                        "kind": "block",
                        "type": "logic_boolean"
                        }
                    ]
                }
            ]
        }

        var workspace = Blockly.inject('blocklyDiv', {toolbox: toolbox});
    </script>
</html>