<html>
    <head>
        <title></title>

        <link rel = "stylesheet" href = "/css/style.css">
        <link rel = "stylesheet" href = "/css/main.css">
        <script src = "/js/jquery.js"></script>
        <script src = "/js/jquery-ui.js"></script>
        <link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css"/>
    </head>

    <body>
        <div id = "under-attack">
            <div id = "under-attack-window">
                <div class = "window not-draggable">
                    <div class = "header">
                        <div class = "balls">
                            <div class="ball"></div>
                            <div class="ball"></div>
                            <div class="ball"></div>
                        </div>
    
                        <div class = "title">Under Attack!</div>
                    </div>
    
                    <div class="content">
                        <center>
                            <h1>You are attacked by someone!</h1>

                            <button class = "button">Close this window and take action</button>
                        </center>
                    </div>
                </div>
            </div>
        </div>

        <main id = "main">
            <header id = "header">
                <div onclick = "$('#icons').toggleClass('hidden')">Applications</div>
                <div id = "clock">12:30</div>
                <div id = "account">
                    <span onclick = "$('#account .popup').toggleClass('active')">Account</span>
                    <div class = "popup">
                        <div id = "username"><b><%= it.user %></b></div>
                        <hr>

                        <div class = "popup-item">Settings</div>
                        <div class = "popup-item" onclick = "engine.logout()">Logout</div>
                    </div>
                </div>
            </header>

            <!--
            <div class = "telegram">
                <img src = "/images/users/body0.png" class = "profile">
                <div class = "content">
                    <h3>You got a telegram!</h3>
                    <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ornare rutrum arcu eget tristique. </span>
                </div>
            </div>
            -->

            <div id = "windows">
                <div id = "scroll-tolerance"></div>
                <div id="left">
                    <div id = "icons" class = "hidden">
                        <% var keys = Object.keys(it.installed) %>
                        <% for (x = 0; x <= keys.length - 1; x++) { %>
                            <div class = "icon" initial = "<%= keys[x] %>" data-title = "<%= it.installed[keys[x]].name %>">
                                <img src = "<%= it.installed[keys[x]].icon %>">
                            </div>
                        <% } %>
                        <div class = "icon" id = "menu" data-title = "Menu"></div>
                    </div>
                </div>
    
                <div id = "right"> 
                    
                </div>
            </div>
        </main>

        <script>
            class main {
                constructor() {
                    this.windows = {}
                    this.renderedWindowContent = []

                    this.wsListener = {}

                    this.toggleListener()

                    var t = this
                    this.clockInterval = setInterval(() => {
                        t.updateClock()
                    }, 1000)

                    this.highest = 100

                    this.updateClock()
                    this.wsConnect()

                    $('.icon:not(#menu)').on('click', function(event) {
                        var title = $(this).attr('data-title')
                        var initial = $(this).attr('initial')

                        $.get(`/applications/${initial}`, function(data, status) {
                            if (data.status == 'success') {
                                if (!t.windows[initial]) {
                                    t.createWindow({title: title, content: data.content, initial: initial})
                                } else {
                                    t.windows[initial].css('z-index', t.highest++)
                                }
                            } else {
                                alert(data.message)
                            }
                        })
                    })
                }

                updateClock() {
                    this.date = new Date()

                    $('#clock').html(`${('0' + this.date.getHours()).substr(-2)}:${('0' + this.date.getMinutes()).substr(-2)}:${('0' + this.date.getSeconds()).substr(-2)}`)
                }

                wsConnect() {
                    this.ws = new WebSocket('ws://localhost:8080')

                    var t = this
                    this.ws.onopen = function (event) {
                        t.wsSend({status: 'success', from: 'client', message: 'connected'})
                    }

                    this.ws.onmessage = function(event) {
                        var parsed = JSON.parse(event.data)

                        if (t.wsListener[parsed.to]) {
                            t.wsListener[parsed.to](parsed)
                        }
                    }

                    this.wsListen('client', function(data) {
                        if (data.message == 'underattack') {
                            $('#under-attack').show()
                        }
                    })
                }

                wsSend(message) {
                    this.ws.send(JSON.stringify(message))
                }

                wsListen(to, cb) {
                    this.wsListener[to] = cb
                }

                logout() {
                    $.get('/account/logout', function(data, status) {
                        window.location.href = '/'
                    })
                }

                toggleListener() {
                    $('.window:not(.not-draggable)').draggable({
                        handle: '.header',
                        opacity: 0.5,
                        scroll: false,
                        containment: $('#scroll-tolerance'),
                        stack: '.window'
                    })

                    var t = this
                    $('.close').on('click', function() {
                        t.destroyWindow(this)
                    })
                }

                createWindow(options) {
                    var window = $(`<div class = "window" initial = "${options.initial}"><div class = "header"><div class = "balls"><div class = "ball"></div><div class = "ball"></div><div class = "ball"></div></div><div class = "title">${options.title || 'Window'}</div><div class = "close">x</div></div><div class = "content">${options.content}</div></div>`)

                    $('#right').append(window)
                    this.windows[options.initial] = window
                    this.toggleListener()
                }

                destroyWindow(window) {
                    if (window) {
                        $(window).closest('.window').remove()
                        delete this.windows[$(window).closest('.window').attr('initial')]
                    }
                }
            }

            var engine = new main()
        </script>
    </body>
</html>