body {
    margin: 0;
    padding: 0;
    font-family: modeseven;
    overflow-x: hidden;
}

#main {
    width: 100%;
    height: 100%;
    background: var(--bg-light);
    color: var(--fg);
    position: relative;
    display: flex;
}

#overlay {
    background: var(--bg-light);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.8;
}

#background {
    width: 60%;
    height: 100%;
    filter: blur(2px);
    -webkit-filter: blur(2px);
    background: none;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    width: 40%;
    position: relative;
    padding: 18px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#form {
    width: 100%;
    padding: 18px;
    background: var(--bg);
    box-sizing: border-box;
    border-radius: 6px;
}

#side {
    width: 100%;
    color: var(--green);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.typer-container {
    display: inline-block;
}

.typer {
    overflow: hidden;
    white-space: nowrap;
    animation: typing 1.5s steps(20, end) forwards;
    width: 0;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

.container {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 40%;
    left: 50%;
}

.window {
    background: var(--bg);
    color: var(--fg);
    width: max-content;
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    min-width: 500px;
    max-width: 100%;
    resize: both;
    position: absolute;
}

.window:not(#terminal-window) {
    animation: 0.5s ease-out 0s 1 popup;
}

.window.closed {
    transition: 0.5s;
    transform: scale(0, 0);
}

.window .header {
    width: 100%;
    padding: 8px 16px;
    background: var(--accent-soft);
    box-sizing: border-box;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    display: flex;
    align-items: center;
}

.header .balls {
    display: flex;
}

.balls .ball {
    width: 16px;
    height: 16px;
    border-radius: 50%;
}

.balls .ball:not(:last-child) {
    margin-right: 8px;
}

.ball:nth-child(1) {
    background: var(--red);
}

.ball:nth-child(2) {
    background: var(--yellow);
}

.ball:nth-child(3) {
    background: var(--green);
}

.header .title {
    margin-left: auto;
}

.window .content {
    width: 100%;
    height: 100%;
    padding: 16px;
    box-sizing: border-box;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    display: flex;
}

@keyframes popup {
    0% {
        transform: scale(0, 0);
    }
    100% {
        transform: scale(1, 1);
    }
}

#terminal-window {
    width: 500px;
    height: 50%;
}

#terminal-window .content {
    display: flex;
    flex-direction: column;
    position: relative;
    height: calc(100% - 32px);
    box-sizing: border-box;
}

#terminal-content {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    overflow-y: auto;
    box-sizing: border-box;
    margin-bottom: 36px;
}

#terminal-input-parent {
    display: none;
    width: calc(100% - 32px);
    margin-top: auto;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 16px;
    bottom: 16px;
}

#terminal-input {
    font: inherit;
    color: var(--fg);
    width: 100%;
    background: none;
    border: none;
    margin-left: 8px;
}

#terminal-input:focus {
    outline: none;
}

.terminal-line {
    margin-bottom: 16px;
}

.green {
    color: var(--green);
}

.red {
    color: var(--red);
}

.yellow {
    color: var(--yellow);
}

[data-typeit-id]::before {
    display: none !important;
}

#terminal-window {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#terminal-window::-webkit-scrollbar { 
    display: none;
}

#canvas {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#why-project-hack {
    width: 80%;
    height: 100%;
    padding: 32px;
    box-sizing: border-box;
}

#why-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
}

#why-container .window {
    min-width: 0;
    width: calc((100% - 48px) / 3);
    position: relative;
    margin-right: 16px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

#why-container .window * {
    box-sizing: border-box;
}

#why-container .window .content {
    display: flex;
    flex-direction: column;
}