@font-face {
    font-family: modeseven;
    src: url(/fonts/modeseven.ttf);
}

:root {
    --bg: #282a36;
    --bg-light: #383b48;
    --shadow: #30333d;
    --fg: #f8f8f2;
    --accent: #ff79c6;
    --accent-soft: #f78ec9;
    --red: #ff5555;
    --yellow: #f1fa8c;
    --green: #50fa7b;
}

.input {
    font: inherit;
    border: 0;
    margin: 0;
    padding: 8px 12px;
    background: var(--bg-light);
    color: var(--fg);
    border-radius: 6px;
}

.input:focus {
    outline: none;
}

.button {
    font: inherit;
    border: 0;
    margin: 0;
    padding: 8px 12px;
    background: var(--accent);
    color: var(--fg);
    border-radius: 6px;
}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.input.box.h {
    flex-direction: row;
}

.label {
    margin-bottom: 8px;
}

[data-title]:hover:after {
    opacity: 1;
    transition: all 0.1s ease 0.5s;
    visibility: visible;
    transition-delay: 1s;
}

[data-title]:after {
    content: attr(data-title);
    white-space: nowrap;
    background: var(--accent-soft);
    color: var(--fg);
    position: absolute;
    left: calc(100% + 18px);
    top: 50%;
    transform: translateY(-50%);
    padding: 6px 9px;
    z-index: 99999;
    visibility: hidden;
    opacity: 0;
    border-radius: 3px;
    transition: 0.2s;
    font-size: small;
}

[data-title] {
    position: relative;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 16px 0;
}

th {
    background: var(--bg-light);
    padding: 8px;
    border: 1px solid var(--shadow);
}

td {
    padding: 8px;
    border: 1px solid var(--shadow);
}

tr {
    border: 1px solid var(--shadow);
}

.loader {
    width: 100%;
    height: 24px;
    background: var(--bg-light);
    padding: 6px;
    box-sizing: border-box;
    border-radius: 6px;
    position: relative;
}

.loader-inner {
    margin: 6px;
    height: 12px;
    border-radius: 6px;
    background: var(--accent-soft);
    width: 50%;
    transition: 0.5s;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
}

@keyframes loading {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}

.glitch {
    position: relative;
    animation: glitch-skew 1s infinite linear alternate-reverse;
}

.glitch::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    left: 2px;
    text-shadow: -2px 0 #ff00c1;
    clip: rect(44px, 450px, 56px, 0);
    animation: glitch-anim 5s infinite linear alternate-reverse;
}

.glitch::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    left: -2px;
    text-shadow: -2px 0 #ff00c1, 2px 2px #ff00c1;
    clip: rect(44px, 450px, 56px, 0);
    animation: glitch-anim2 5s infinite linear alternate-reverse;
}

@keyframes glitch-anim {
    0% {
        clip: rect(1px, 9999px, 8px, 0);
        transform: skew(0.43deg);
    }
    5% {
        clip: rect(28px, 9999px, 73px, 0);
        transform: skew(0.94deg);
    }
    10% {
        clip: rect(44px, 9999px, 6px, 0);
        transform: skew(0.58deg);
    }
    15% {
        clip: rect(65px, 9999px, 47px, 0);
        transform: skew(0.69deg);
    }
    20% {
        clip: rect(52px, 9999px, 47px, 0);
        transform: skew(0.34deg);
    }
    25% {
        clip: rect(15px, 9999px, 62px, 0);
        transform: skew(0.87deg);
    }
    30% {
        clip: rect(36px, 9999px, 9px, 0);
        transform: skew(0.27deg);
    }
    35% {
        clip: rect(44px, 9999px, 41px, 0);
        transform: skew(0.39deg);
    }
    40% {
        clip: rect(90px, 9999px, 94px, 0);
        transform: skew(1deg);
    }
    45% {
        clip: rect(86px, 9999px, 40px, 0);
        transform: skew(0.06deg);
    }
    50% {
        clip: rect(73px, 9999px, 90px, 0);
        transform: skew(0.82deg);
    }
    55% {
        clip: rect(38px, 9999px, 63px, 0);
        transform: skew(0.24deg);
    }
    60% {
        clip: rect(56px, 9999px, 41px, 0);
        transform: skew(0.84deg);
    }
    65% {
        clip: rect(95px, 9999px, 84px, 0);
        transform: skew(0.36deg);
    }
    70% {
        clip: rect(47px, 9999px, 56px, 0);
        transform: skew(0.9deg);
    }
    75% {
        clip: rect(4px, 9999px, 92px, 0);
        transform: skew(0.95deg);
    }
    80% {
        clip: rect(31px, 9999px, 63px, 0);
        transform: skew(0.53deg);
    }
    85% {
        clip: rect(24px, 9999px, 32px, 0);
        transform: skew(0.43deg);
    }
    90% {
        clip: rect(41px, 9999px, 42px, 0);
        transform: skew(0.42deg);
    }
    95% {
        clip: rect(23px, 9999px, 32px, 0);
        transform: skew(0.32deg);
    }
}
@keyframes glitch-anim2 {
    0% {
        clip: rect(66px, 9999px, 58px, 0);
        transform: skew(0.11deg);
    }
    5% {
        clip: rect(38px, 9999px, 6px, 0);
        transform: skew(0.66deg);
    }
    10% {
        clip: rect(7px, 9999px, 14px, 0);
        transform: skew(0.52deg);
    }
    15% {
        clip: rect(13px, 9999px, 41px, 0);
        transform: skew(0.31deg);
    }
    20% {
        clip: rect(60px, 9999px, 66px, 0);
        transform: skew(0.44deg);
    }
    25% {
        clip: rect(44px, 9999px, 11px, 0);
        transform: skew(0.98deg);
    }
    30% {
        clip: rect(21px, 9999px, 38px, 0);
        transform: skew(0.89deg);
    }
    35% {
        clip: rect(30px, 9999px, 22px, 0);
        transform: skew(0.9deg);
    }
    40% {
        clip: rect(7px, 9999px, 80px, 0);
        transform: skew(0.6deg);
    }
    45% {
        clip: rect(87px, 9999px, 57px, 0);
        transform: skew(0.11deg);
    }
    50% {
        clip: rect(52px, 9999px, 21px, 0);
        transform: skew(0.4deg);
    }
    55% {
        clip: rect(14px, 9999px, 61px, 0);
        transform: skew(0.84deg);
    }
    60% {
        clip: rect(79px, 9999px, 27px, 0);
        transform: skew(0.59deg);
    }
    65% {
        clip: rect(13px, 9999px, 15px, 0);
        transform: skew(0.51deg);
    }
    70% {
        clip: rect(75px, 9999px, 45px, 0);
        transform: skew(0.51deg);
    }
    75% {
        clip: rect(71px, 9999px, 40px, 0);
        transform: skew(0.31deg);
    }
    80% {
        clip: rect(3px, 9999px, 59px, 0);
        transform: skew(0.25deg);
    }
    85% {
        clip: rect(68px, 9999px, 32px, 0);
        transform: skew(0.49deg);
    }
    90% {
        clip: rect(48px, 9999px, 50px, 0);
        transform: skew(0.32deg);
    }
    95% {
        clip: rect(22px, 9999px, 43px, 0);
        transform: skew(0.48deg);
    }
}
@keyframes glitch-skew {
    0% {
        transform: skew(4deg);
    }
    10% {
        transform: skew(1deg);
    }
    20% {
        transform: skew(-4deg);
    }
    30% {
        transform: skew(3deg);
    }
    40% {
        transform: skew(0deg);
    }
    50% {
        transform: skew(1deg);
    }
    60% {
        transform: skew(-1deg);
    }
    70% {
        transform: skew(3deg);
    }
    80% {
        transform: skew(-2deg);
    }
    90% {
        transform: skew(5deg);
    }
}

.badge {
    padding: 3px 12px;
    width: max-content;
    height: max-content;
    background: var(--accent);
    border-radius: 12px;
    box-sizing: border-box;
}